@media only screen and (min-width: 768px) and (max-width:1023px) {
    .header-text {
        padding-left: 25px;
        padding-top: 25px;
    }
}

@media only screen and (min-width: 1024px) and (max-width:1439px) {
    .header-text {
        padding-left: 35px;
        padding-top: 90px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-text {
        padding-left: 25px;
        padding-top: 185px;
    }

    .latest-products .product-title {
        width: 50%;
        float: left;
        text-align: left;
    }
    
    .latest-products .product-price {
        width: 50%;
        text-align: right;
        display: inline-block;
    }
}